<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">

    <ion-tab-button tab="tareas">
      <ion-icon name="list"></ion-icon>
      <ion-label>Tareas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="incidencia-puntual">
      <ion-icon name="today"></ion-icon>
      <ion-label>Incidencia</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="listado-zonas">
      <ion-icon name="search"></ion-icon>
      <ion-label>Auditoria</ion-label>
    </ion-tab-button> -->

  </ion-tab-bar>

</ion-tabs>
