<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">

    <ion-tab-button tab="tareas">
      <ion-icon name="list"></ion-icon>
      <!-- <ion-label>Lista Tareas</ion-label> -->
      <ion-label>Tasks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="formularios">
      <ion-icon name="today"></ion-icon>
      <!-- <ion-label>Formularios</ion-label> -->
      <ion-label>Forms</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="listado-zonas">
      <ion-icon name="search"></ion-icon>
      <!-- <ion-label>Auditoría P. Limpios</ion-label> -->
      <ion-label>Audit</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
