ion-icon {
    color: grey;
}

.altura-btn {
    height: 10em !important;
}

.img-btn {
    height: 5em !important;
}

.img-corner {
    height: 4em !important;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    //height: 2em !important;
}

