.img-flamenco {
    padding: 0%;
}

.fondo-fabrica {
    background-image: url("../../../assets/imgs/fondo-fabrica.jpg");
    padding: 0%;
}

.transparente {
    background: transparent;
    
}

.azulina {
    background-color: rgba(204,221,255,.3);
 }

.verdecito {
    background-color: rgba(204,221,204,.3);
}

.carne {
    background-color: rgba(255,221,204,.3);
}

.label-md {
    margin: 0px !important;
}

.label .label-md {
    margin: 0 0 0 0;
}



.contenido {
    padding: 0%;
    margin: 0%;
}

.transparente ion-item ion-avatar img {
    margin: 0%;
    padding: 0%;
}

.padding-left {
    padding-left: 0%;
}